<meta charset="UTF-8">
<meta name="author" content="Jody Lorist">
<meta name="description" content="Portfolio Jody Lorist">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Jody Lorist | Portfolio</title>
<link rel="stylesheet" href="/public/styles/style.css">